<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Event</title>
</head>
<body>
    <form action="#" th:action="@{/event}" method="post" th:object="${event}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
        <p th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">Incorrect date</p>
        <input type="text" title="name" th:field="*{name}" />
        <input type="text" title="limit" th:field="*{limit}" />
        <input type="submit" value="create" />
    </form>
</body>
</html>